<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="uscresellall" connectionString="Data Source=XXXX-XXXXX\SQLEXPRESS; Integrated Security=true; Initial Catalog=uscresellall;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <machineKey validationKey="" decryptionKey="" validation="SHA1" decryption="AES" />
  </system.web>

  <appSettings>
    <add key ="smtpSerive" value="mail.trojanslist.com"/>
  </appSettings>
</configuration>
